In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [2]:
df = pd.read_csv('Ensemble.csv')
df

,date,bdi,Mode00,Mode01,Mode02,Mode03,Mode04,Mode05,Mode06,Mode07,Mode08,Mode09,Mode10
0,2018/9/21,1413.0,-0.828367,17.979060,9.817682,-25.948480,-160.36217,-21.231112,152.11243,138.56853,388.56494,-384.06097,1267.5112
1,2018/9/22,1413.0,-8.223343,9.016209,12.625426,-16.530863,-155.98248,-54.545345,164.43490,147.22107,410.29550,-431.51605,1293.3225
2,2018/9/23,1413.0,-0.731153,4.229939,30.648249,5.125967,-147.46912,-53.429848,154.87375,121.59557,423.34317,-449.72820,1316.8357
3,2018/9/24,1434.0,6.251827,5.947893,21.415333,9.546185,-143.90042,-67.124245,153.91171,149.67720,383.84230,-399.93120,1283.3417
4,2018/9/25,1450.0,-4.452204,-6.221824,22.569197,24.876762,-131.75967,-64.427530,146.68988,151.67700,366.67426,-355.23297,1253.2110
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,2020/10/5,2071.0,4.801883,9.207513,103.524950,236.747600,142.34515,-32.556620,244.29654,108.69359,200.55301,-95.15024,1077.7207
746,2020/10/6,2097.0,-8.015100,-9.771852,79.722470,236.371810,182.38455,-24.084906,257.47100,118.61893,163.07799,-70.03269,1082.4507
747,2020/10/7,2044.0,-4.794563,-3.069454,68.400180,240.401730,196.62453,-10.776848,256.98087,113.94645,184.95440,-86.09389,1088.5967
748,2020/10/8,1970.0,-7.225434,-11.843163,39.853546,226.747710,217.70404,6.396336,266.70096,109.35595,163.31640,-43.84842,1071.9214
749,2020/10/9,1892.0,9.017531,-47.971474,-13.031304,223.720210,231.07960,33.550823,267.94104,107.34577,175.69891,-71.38150,1088.9303

In [3]:
predict = 0
for i in range(11):
    predict += df[f'Mode{i:02d}'].values
actual = df['bdi'].values
print(metrics.mean_absolute_error(actual, predict))

40.11217739636266