In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics

In [2]:
df = pd.read_csv('Ensemble.csv')
df

,date,bdi,Mode00,Mode01,Mode02,Mode03,Mode04,Mode05,Mode06,Mode07,Mode08,Mode09,Mode10
0,2018/9/21,1413.0,-1.014908,18.274471,9.713106,-25.858690,-159.13634,-20.696495,151.66266,137.981480,387.87933,-384.12830,1269.0410
1,2018/9/22,1413.0,-8.384219,9.487920,12.382363,-16.445757,-154.80449,-54.017742,163.90662,146.922930,409.53983,-430.24440,1293.2478
2,2018/9/23,1413.0,-1.165895,4.323957,30.990559,5.023205,-146.39656,-52.907585,154.40640,120.747650,422.32303,-447.95532,1315.9517
3,2018/9/24,1434.0,5.937537,6.239751,21.490059,9.288276,-142.96053,-66.590140,153.45343,149.471130,383.13382,-399.50647,1283.8896
4,2018/9/25,1450.0,-5.006031,-6.236861,22.624155,24.132450,-131.08604,-63.918690,146.27383,151.542910,365.97388,-356.28857,1255.6301
...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,2020/10/5,2071.0,4.530673,7.863396,101.924545,232.789170,139.67393,-32.361900,243.66986,107.937600,200.69638,-95.97691,1092.1177
746,2020/10/6,2097.0,-8.236292,-10.325891,78.007520,232.257480,179.03958,-23.901114,256.80560,117.768920,163.37961,-70.48240,1096.3583
747,2020/10/7,2044.0,-4.780891,-3.349179,66.964340,236.643310,193.16225,-10.596865,256.31503,113.134290,185.09827,-86.71054,1101.8737
748,2020/10/8,1970.0,-7.055820,-12.890149,39.430370,223.575350,214.24550,6.691391,265.99470,108.588875,163.61583,-43.65480,1086.9260
749,2020/10/9,1892.0,8.325724,-48.545980,-13.390553,220.965330,227.58694,33.860962,267.22876,106.620895,175.90121,-71.84784,1102.1738

In [3]:
predict = 0
for i in range(11):
    predict += df[f'Mode{i:02d}'].values
actual = df['bdi'].values
print(metrics.mean_absolute_error(actual, predict))

39.24769116410267